# stf-decomposition demo
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/thodson-usgs/stf-decomposition/blob/main/notebooks/stf-decomposition-demo.ipynb)  
This notebook demonstrates STF: seasonal-seasonal trend decomposition using the Fast Fourier transform.

TODO add short summary

In [8]:
%%capture
# Add package to Colab environment
!pip install stf-decomposition
!pip install intake requests aiohttp

In [9]:
# load the data catalog
import intake
url = 'https://raw.githubusercontent.com/thodson-usgs/stf-decomposition/main/data/stf_data_catalog.yml'
cat = intake.open_catalog(url)
list(cat)

['air_passengers', 'co2', 'covid_usa', 'retail_sales']

In [10]:
# load a dataset
df = cat['co2'].read()

df.head()

         date     CO2
0  1959-01-31  315.58
1  1959-02-28  316.39
2  1959-03-31  316.79
3  1959-04-30  317.82
4  1959-05-31  318.39

## Basic usage
TODO add short summary

In [ ]:
# TODO demonstrate basic usage on co2 dataset

## Comparison with STL
The functionality of stf_decomposition was modeled after the 
[statsmodels.tsa.seasonal.STL](https://www.statsmodels.org/devel/examples/notebooks/generated/stl_decomposition.html) library. 
The motivation in modeling stf_decomposition after STL was to create a decomposition framework
that is already familiar to useres for ease of use. 
In the code below we can observe that the visually the decomposed components after STL and stf_decoposition
are very similar in this example. Two different stf_decomposition call were run in order to see
the difference between a user input seasonal variable and the optimized seasonal variable.

In [ ]:
# TODO make a multi-panel that compares STF and STL on several datasets
# you can add more datasets to the data/stf_data_catalog.yml either through our github repo or any URL

from statsmodels.tsa.seasonal import STL

retail = cat['retail_sales'].read()

stl = STL(retail, seasonal = 13)
res = stl.fit()
fig = res.plot()

# Perform stf_decomposition with user input window 
stf = stf_decomposition(retail, "blackman", seasonal = 13)
res = stf.fit()
fig = res.plot()

# Perform stf_decomposition with optimized window
stf = stf_decomposition(retail, "blackman")
res = stf.fit()
fig = res.plot()

## Window Optimization
Seasonal window optimization is performed if a user does not give a seasonal input. 
The optimization method used in seasonal window selection is 
[scipy.optimize.brute] (https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.brute.html).
This optimization method was chosen as it returns the global minimum 
of a given function over a given range of values, in this case a range of 3 to 100.

In [ ]:
# Window Optimization
co2 = cat['co2'].read()

stf = stf_decomposition(co2, "blackman")
res = stf.fit()
fig = res.plot()

print(stf.seasonal)

In [ ]:
air = cat['air_passengers'].read()

stf = stf_decomposition(air, "blackman")
res = stf.fit()
fig = res.plot()

print(stf.seasonal)